<div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a class="simple-text logo-normal">
            Biblioteca UDEO
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item " routerLink="/private/dashboard" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/dashboard" >
                    <i class="fas fa-chart-bar"></i>
                    <p>Dashboard</p>
                </a>
            </li>


            <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Salir</p>
                </a>
            </li>
        </ul>
    </div>
</div>
