<!--<app-header></app-header> -->
<app-toast class="app-toast"></app-toast>

<div class="wrapper ">

    <app-side-menu *ngIf="user.Rol == 'admin'"></app-side-menu>
    <app-side-menu-student *ngIf="user.Rol == 'student'"></app-side-menu-student>

    <div class="main-panel">
        <!-- Navbar -->
        <app-header></app-header>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <router-outlet></router-outlet>

            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">

                <div class="copyright float-right">
                    Biblioteca UDEO WebApp
                    -
                    <a href="https://www.udeo.edu.gt" target="_blank">UDEO</a>
                </div>
            </div>
        </footer>
    </div>
</div>
