<div class="sidebar" data-color="orange" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a class="simple-text logo-normal">
            Biblioteca UDEO
        </a>
    </div>
    
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item " routerLink="/private/dashboard" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/dashboard" >
                    <i class="fas fa-chart-bar"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            
            <li class="nav-item" routerLink="/private/prestamos" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/prestamos">
                    <i class="fas fa-handshake"></i>
                    <p>Prestamos</p>
                </a>
            </li>

            <li class="nav-item" routerLink="/private/documentos" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/documentos">
                    <i class="fas fa-book"></i>
                    <p>Documentos</p>
                </a>
            </li>

            <li class="nav-item " routerLink="/private/autores" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/autores">
                    <i class="fas fa-user-edit"></i>
                    <p>Autores</p>
                </a>
            </li>

            <li class="nav-item " routerLink="/private/categorias" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/categorias">
                    <i class="fas fa-sitemap"></i>
                    <p>Categorias</p>
                </a>
            </li>

            <li class="nav-item " routerLink="/private/anios" routerLinkActive="active">
                <a class="nav-link"routerLink="/private/anios">
                    <i class="fas fa-calendar-week"></i>
                    <p>Años</p>
                </a>
            </li>

            <li class="nav-item " routerLink="/private/divisiones" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/divisiones">
                    <i class="fas fa-divide"></i>
                    <p>Divisiones</p>
                </a>
            </li>

            <li class="nav-item " routerLink="/private/editoriales" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/editoriales">
                    <i class="fas fa-university"></i>
                    <p>Editoriales</p>
                </a>
            </li>

            <li class="nav-item " routerLink="/private/carreras" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/carreras">
                    <i class="fas fa-user-graduate"></i>
                    <p>Carreras</p>
                </a>
            </li>

            <li class="nav-item " routerLink="/private/sedes" routerLinkActive="active">
                <a class="nav-link" routerLink="/private/sedes">
                    <i class="fas fa-map-marked-alt"></i>
                    <p>Sedes</p>
                </a>
            </li>

            <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Salir</p>
                </a>
            </li>
        </ul>
    </div>
</div>