.row-files{
    div{
        div{
            padding: 15px;
            label{
                font-weight: bold;
                font-size: 1.2rem;
            }
            input {
                padding-left: 15px;
            }
        }
    }
}

.card{
    .card-body{
        .row{
            .col-md-12{
                .text-bold{
                    font-size: 14px;
                    padding-top: 9px;
                    display: inline-block;
                    font-weight: 600;
                }

                .badges-list{
                    padding: 1px;
                    span{
                        margin: 15px 0px 15px 15px;
                        padding: 10px 15px 10px 10px;
                    }
                }
            }
        }
    }
}