.row-files{
    div{
        div{
            padding: 15px;
            label{
                font-weight: bold;
                font-size: 1.2rem;
            }
            input {
                padding-left: 15px;
            }
        }
    }
}