<form
    [formGroup]="itemForm" (ngSubmit)="handleData()"
>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="bmd-label-floating">Nombre</label>
                <input
                    id="Nombre"
                    name="Nombre"
                    formControlName="Nombre"
                    required
                    type="text"
                    class="form-control"
                >
            </div>
            <div class="form-group">
                <label class="bmd-label-floating">Direccion</label>
                <input
                    id="Direccion"
                    name="Direccion"
                    formControlName="Direccion"
                    required
                    type="text"
                    class="form-control"
                >
            </div>
        </div>
    </div>
    <button
        [disabled]="!itemForm.valid"
        class="btn btn-warning pull-right"
    >
        Guardar
    </button>
    <div class="clearfix"></div>
</form>
