<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">Todas los documentos</h4>
        </div>
        <div class="card-body">
  
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar documento por titulo"
                            >
                    </div>
                </div>
                <div class="col-md-6 ">
                    <button class="btn btn-warning float-left">
                        <i class="fas fa-search"></i>
                        Buscar
                    </button>
  
                    <button class="btn btn-danger float-right" routerLink="/private/documentos/create">
                        <i class="fas fa-plus"></i>
                        Nuevo
                    </button>
                </div>
  
            </div>
  
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-gray">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </thead>
                    
                </table>
  
                <div class="row">
                   
                </div>
  
            </div>
        </div>
    </div>
  </div>
  
  