<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Todas los prestamos profesor</h4>
    </div>
    <div class="card-body">
      <div class="row mb-5">
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Buscar profesor por usuario">
            </div>
        </div>
        <div class="col-md-6 ">
            <button type="submit" class="btn btn-warning float-left">
                <i class="fas fa-search"></i>
                Buscar
            </button>


        </div>

    </div>

      <div class="table-responsive">
        <table class="table">
          <thead class="text-gray">
            <th>Fecha inicio prestamo</th>
            <th>Fecha fin prestamo</th>
            <th>Usuario</th>
            <th>Libro</th>
            <th>Estado</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td></td>
              <td></td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

