/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.app-toast{
    position: absolute;
    z-index: 1000000;
    float: right;
    right: 3%;
    top: 6%;
    width: 25%;
}