<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="fas fa-handshake"></i>
                </div>
                <p class="card-category">Prestamos activos</p>
                <h3 class="card-title">45</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <p class="card-category">Prestamos vencidos</p>
                <h3 class="card-title">3</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="fas fas far fa-clock"></i>
                </div>
                <p class="card-category">Nuevos prestamos</p>
                <h3 class="card-title">5</h3>
            </div>
        </div>
    </div>
    <button
        class="btn btn-info"
        (click)="showStandard()"
    >
        Show toast
    </button>
</div>