<form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="bmd-label-floating">Nombre Completo</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="bmd-label-floating">Fecha de nacimiento</label>
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-warning pull-right">Guardar</button>
    <div class="clearfix"></div>
</form>