<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Todos los prestamos</h4>
    </div>
    <div class="card-body">
      <!---->
      <div class="row mb-12">
        <div class="col-md-5">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar usuario por nombre"
              [(ngModel)]="title"
            />
          </div>
        </div>

        <button (click)="searchTitle()" class="btn btn-warning float-left">
          <i class="fas fa-search"></i>
          Buscar
        </button>
        <div class="col-md">
          <button
            class="btn btn-danger float-right"
            routerLink="/private/prestamos/create"
          >
            <i class="fas fa-plus"></i>
            Nuevo
          </button>
        </div>

        <div class="col-md-2">
          <button
            class="btn btn-success float-right"
            routerLink="private/prestamos/listalumno"
          >
            <i class="fas fa-list"></i>
            Lista alumnos
          </button>
        </div>

        <div class="col-md-2">
          <button class="btn btn-success float-right" routerLink="private/prestamos/listalumno">
            <i class="fas fa-list"></i>
            Lista profesores
          </button>
        </div>
      </div>
      <!---->

      <div class="table-responsive">
        <table class="table">
          <thead class="text-gray">
            <th>Fecha inicio prestamo</th>
            <th>Fecha fin prestamo</th>
            <th>Usuario</th>
            <th>Libro</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of items
                  | paginate
                    : {
                        itemsPerPage: limit,
                        currentPage: page,
                        totalItems: pageItemsCount
                      };
                let i = index
              "
            >
              <td>{{ item.id }}</td>

              <td>
                <button
                  routerLink="/private/prestamos/edit/{{ item.Id }}"
                  class="btn btn-warning btn-sm"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-sm-6">
            <pagination-controls
              previousLabel="Anterior"
              nextLabel="Siguiente"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-6 col-form-label"
                >Cantidad por pagina:</label
              >
              <div class="col-sm-6">
                <select
                  class="form-control form-control-sm"
                  (change)="handlePageSizeChange($event)"
                >
                  <option *ngFor="let size of pageSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
