<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Todos los prestamos

        <button (click)="listPorAprobar()" class="btn btn-warning float-right">
          <i class="fas fa-list-alt"></i>
          Por aprobar
        </button>

       
      </h4>
      
    </div>
    <div class="card-body">
      <!---->
      <div class="row mb-12">
        

        
        
      </div>
      <!---->

      <div class="table-responsive">
        <table class="table">
          <thead class="text-gray">
            <th>Usuario</th>
            <th>Documento</th>
            <th>Es digital</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of items
                  | paginate
                    : {
                        itemsPerPage: limit,
                        currentPage: page,
                        totalItems: pageItemsCount
                      };
                let i = index
              "
            >
              <td>{{ item.Usuario.GoogleId }}</td>
              <td>{{ item.Documento.Titulo }}</td>
              <td>{{ item.EsDigital ? 'Si' : 'No' }}</td>
              <td>
                <button
                  (click)="aprobar(item.Id)" 
                  class="btn btn-success btn-sm"
                >
                  <i class="fas fa-check-circle"></i>
                </button>

                <button
                  (click)="denegar(item.Id)" 
                  class="btn btn-danger btn-sm"
                >
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-sm-6">
            <pagination-controls
              previousLabel="Anterior"
              nextLabel="Siguiente"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-6 col-form-label"
                >Cantidad por pagina:</label
              >
              <div class="col-sm-6">
                <select
                  class="form-control form-control-sm"
                  (change)="handlePageSizeChange($event)"
                >
                  <option *ngFor="let size of pageSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
